**/*.jpg
**/*.png
**/*.gpickle
**/*.lp
**/*.pkl
**/*.json
**/*.zip
**/*.log

honeypot/data/*
honeypot/result/*
honeypot/result_budget/*


honeypot_dynamic/_logs/*
honeypot_dynamic/company_data/*
honeypot_dynamic/data/*
honeypot_dynamic/dygraph_blocking/*
honeypot_dynamic/company_data/*
honeypot_dynamic/dymip_feature/*
honeypot_dynamic/graph/*
honeypot_dynamic/HPC/*
honeypot_dynamic/infocom_pic/*
honeypot_dynamic/processed_dygraph/*
honeypot_dynamic/processed_graph/*
honeypot_dynamic/result/*

!honeypot_dynamic/processed_dygraph/adsimxcomp.gpickle
**/__pycache__/ 
